{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-image: url('https://i.pinimg.com/736x/72/35/34/723534efa6c7e1fe82862dff3874ae70.jpg');
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
    padding: 100px 0;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

.slogan {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.slogan div {
    width: 33.33%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.slogan div h2 {
    font-size: 1.5em;
}

/* Nội dung chính */
.content {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.row .col {
    width: 48%;
    padding: 15px;
    background-color: #f0f0f0;
}

.row .col h3 {
    font-size: 1.5em;
}

.activity-img {
    width: 70%;
    height: auto;
    margin-bottom: 250px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #333333;
    color: gray;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1em;
}